body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/* ------------ nav bar -----------*/
#menu {
  width: 65%;
  height: 8%;
  display: flex;
  position: fixed;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#menu a {
  text-decoration: none;
  color: red;
  padding: 20px;
  font-size: 80px;
  position: relative;
}

#menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#menu a:hover::after {
  transform: scaleX(1);
}

#menu a:hover {
  color: white;
}


/* ------------ home page -----------*/
.image-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.spinning-ball {
  position: absolute;
  top: 49%;
  left: 55%;
  transform: translate(-50%, -50%);
  animation: spin 4s infinite linear;
}

.scaled-man {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.8);
}
.product-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
}

.product-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  height: 1600px; /* Set a fixed height for each container */
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Add margin-bottom to create gaps between containers */

}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%; /* Adjust the height of the image container */
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-description {
  font-size: 66px;
  margin-top: 20px; /* Increase the margin-top value for more space between image and description */
}


.add-to-cart {
  background-color: rgb(28, 29, 29);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 66px;
  cursor: pointer;
}

/* ----------- About Us Page ---------------*/

.about-container {
  width: 75%;
  max-width: 2400px;
  margin: 10% auto; /* Adjust the margin as desired */
  color: white;
  font-size: 75px;
  padding: 10px;
  overflow: hidden;
}

.about-container h1 {
  color: red;
  font-family: serif;
  text-align: left;
}

.about-container img {
  width: 35%;
  height: auto;
  object-fit: contain;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; /* Add margin-bottom to create space below the image */
}

.history-container {
  width: 75%;
  max-width: 2400px;
  margin: 10% auto; /* Adjust the margin as desired */
  color: white;
  font-size: 75px;
  padding: 10px;
  overflow: hidden;
}

.history-container h1 {
  color: red;
  font-family: serif;
  text-align: left;
}
.contact-container {
  width: 75%;
  max-width: 2400px;
  margin: 10% auto;
  color: white;
  font-size: 75px;
  padding: 20px;
}

.contact-container h1 {
  color: red;
  font-family: serif;
  text-align: left;
}

.contact-container a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out; /* Add transition for smooth effect */
}

.contact-container a:hover {
  color: red; /* Change the text color on hover */
}

.contact-container i {
  margin-right: 10px;
}

/* ----------- Athletes Page ---------------*/
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items vertically */
  transform: translate(0, 40%);
  /* overflow-y: scroll; */
  position: fixed;
  top: 0;
  left: 0;
  margin-right: 80px;
  float :left;
  
}

#sidebar a {
  text-decoration: none;
  color: red;
  padding: 20px;
  font-size: 80px;
  position: relative;
}

#sidebar h1 {
  color: white;
  padding: 20px;
  font-size: 80px;
  position: relative;
}

#sidebar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#sidebar a:hover::after {
  transform: scaleX(1);
}

#sidebar a:hover {
  color: white;
}

#sidebar h1{
  border-bottom-style: double;
}

h2 {
  font-size: 18px;
}

.main-container{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 10%; */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  color: white;
  font-size: 75px;
  padding: 10px;
  overflow: hidden;
}
.athlete-content{
  top : -50%;
  flex-direction: row; 
  overflow-y: scroll;
  float : left;

}
.athlete-content-image-container{
  display:flex;
  flex-direction: row; 
  flex-wrap: wrap;
  border-bottom: solid;
}
.Athlete-Title h1{
  font-size: 99px;
  margin-top: 120px;
  color : #fff;
}
.athlete-content-image-container h2{
  font-size: 68px;
  margin-top: 120px;
  color : #fff;
}
.athlete-images{
  font-size: 18px;
  padding: 10px 0;
}
.img-size-half {
  width: 50em;
  height: 50em;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
} 


/* ----------- Videos Page ---------------*/
.carousel-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-item {
  margin: 10px 0;
  cursor: pointer;
}

.carousel-item img {
  width: 100px;
  height: auto;
}

.main-frame {
  margin-top: 10px;
}


@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.8);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.8);
  }
}
