
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body {
  font-family: Arial, Helvetica, sans-serif;

}

/* ------------ nav bar -----------*/
nav{
  background: #1f2224;
  height: 80px;
  width: 100%;
  
}

nav ul{
  float: right;
  margin-right: 20px;
 
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
  
}
nav ul li a{
  color: red;
  font-size: 17px;
  padding: 7px 13px;
  transform: uppercase;
  text-decoration: none;
  transition: .4s;
}

a.active,a:hover{
  /* background: #fff; */
  color: white;
  border-radius: 2px;
  border-bottom: 2px solid white;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
  transform: scaleX(1); /* Change scaleX(0) to scaleX(1) to show the underline on hover */
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #323536;
    top: -100%;
    left: 0;
    text-align: center;
    transition: all .5s;
    
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: white;
  }
  #check:checked ~ ul{
    top: 80px;
    
  }
}
/* ----------- Athletes Page ---------------*/

.gall{
  width: 100%;
  height: 100%;
  display: grid;



}
.athlete-gallery{
  width: 80%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3px 3px;
  flex-direction: row;
}
img {
  max-width: 300px;
  height: 100%; 
  
}
.athlete-gallery img:hover{
  transform: scale(1.05);
  border-radius: 20px;
  cursor: pointer;

 
}
.full-img{
  width:100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position:fixed;
  top:0;
  left:0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.full-img img{
  width: 90%;
  max-width:500px;
  max-height: 80%;
  border-radius: 20px;
}
.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.athlete-menu-closed{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  background: #1f2224;
  z-index: 100;
  /* transition: all 0.5s ease; */
  float:right;
}


/* ------------ home page -----------*/
.image-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.spinning-ball {
  position: absolute;
  top: 49%;
  left: 55%;
  transform: translate(-50%, -50%);
  animation: spin 4s infinite linear;
}

.scaled-man {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.8);
}
.product-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10%;
}

.product-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  height: 1600px; /* Set a fixed height for each container */
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Add margin-bottom to create gaps between containers */

}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%; /* Adjust the height of the image container */
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-description {
  font-size: 66px;
  margin-top: 20px; /* Increase the margin-top value for more space between image and description */
}


.add-to-cart {
  background-color: rgb(28, 29, 29);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 66px;
  cursor: pointer;
}

/* ----------- About Us Page ---------------*/

.about-container {
  width: 75%;
  max-width: 2400px;
  margin: 10% auto; /* Adjust the margin as desired */
  color: white;
  font-size: 75px;
  padding: 10px;
  overflow: hidden;
}

.about-container h1 {
  color: red;
  font-family: serif;
  text-align: left;
}

.about-container img {
  width: 35%;
  height: auto;
  object-fit: contain;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; /* Add margin-bottom to create space below the image */
}

.history-container {
  width: 75%;
  max-width: 2400px;
  margin: 10% auto; /* Adjust the margin as desired */
  color: white;
  font-size: 75px;
  padding: 10px;
  overflow: hidden;
}

.history-container h1 {
  color: red;
  font-family: serif;
  text-align: left;
}
.contact-container {
  width: 75%;
  max-width: 2400px;
  margin: 10% auto;
  color: white;
  font-size: 75px;
  padding: 20px;
}

.contact-container h1 {
  color: red;
  font-family: serif;
  text-align: left;
}

.contact-container a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out; /* Add transition for smooth effect */
}

.contact-container a:hover {
  color: red; /* Change the text color on hover */
}

.contact-container i {
  margin-right: 10px;
}


/* ----------- Videos Page ---------------*/
.carousel-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-item {
  margin: 10px 0;
  cursor: pointer;
}

.carousel-item img {
  width: 100px;
  height: auto;
}

.main-frame {
  margin-top: 10px;
}


@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.8);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.8);
  }
}
